<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block title %}
            <title>Homepage</title>
        {% endblock title %}

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/acashopbundle/css/bootstrap.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/acashopbundle/css/heroic-features.css') }}" rel="stylesheet">

        <!-- Javascript -->
        <script src="{{ asset('bundles/acashopbundle/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/acashopbundle/js/bootstrap.js') }}"></script>

    </head>
    <body>

        {% block nav %}
            {% include "::nav.html.twig" %}
        {% endblock nav %}


        <div class="container">
            {% block content %}
                Dat content
            {% endblock content %}
        </div>
    </body>
</html>
