<form action="/process_login" method="POST">
    Username: <input type="text" name="username" />
    Password: <input type="password" name="password" />
    <br />

    <input type="submit" value="Login" />
</form>

Invalid login!

Make sure your login contains only proper characters, and that you enter both your login and password.