{% if loggedIn %}

    Welcome {{ name }}

    <form action="/logout" method="POST">
        <input type="submit" value="Logout" />
    </form>


{% else %}

<form action="/login_form" method="POST">

    Username: <input type="text" name="username" value="{{ username }}"/>
    <br />
    Password: <input type="password" name="password" value="{{ password }}"/>
    <br />

    <input type="submit" value="Login" />
</form>

{% endif %}